.section-search {
  position: relative;
  z-index: 2;
  margin-top: calc(var(--span-l) * -1);
}

.search {
  &__box {
    background: var(--white);
    box-shadow: 0px 4px 17px rgba(15, 74, 123, 0.15);
    border-radius: 10px;
    padding: var(--span-m);
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__group {
    display: flex;
    align-items: center;
    flex: 0 0 40%;

    &:last-child {
      padding-left: var(--span-m);
      border-left: 0.8px solid var(--light-blue);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--span-s);
  }

  &__input {
    border: none;
    background: transparent;
    outline: none;
    font-family: var(--Gilroy);
    font-size: calc(var(--size-m) + 2px);
    font-weight: var(--weight-sm);
    line-height: 21px;
    width: 100%;
    color: var(--gray);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.section-job-listing {
  margin-top: calc(var(--span-2xl) + var(--span-s));
  margin-bottom: var(--span-l);
}

.listing {
  margin-bottom: var(--span-l);
  &__details {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
  }

  &__group {
    display: flex;
    align-items: center;
  }

  &__filters {
    position: relative;
  }

  &__options {
    list-style-type: none;
    position: absolute;
    &--hidden {
      opacity: 0;
      visibility: hidden;
      transform: translateY(0px);
    }
  }

  &__wrapper {
    margin-top: var(--span-l);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
  }

  &__list {
    display: grid;
    gap: 30px;
    list-style-type: none;
  }

  &__item {
    padding: var(--span-m);
    box-shadow: 0px 4px 17px rgba(98, 190, 203, 0.15);
    border-radius: 10px;
    background: var(--white);
    transition: all 0.3s;
    &:hover {
      background: var(--blue);
    }
  }

  &__item:hover &__description {
    color: var(--white);
  }

  &__item:hover &__location {
    span {
      color: var(--white);
    }
  }

  &__item:hover .btn--more {
    background: var(--white);
    color: var(--btn-red);
  }

  &__item:hover &__header {
    color: var(--white);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-family: var(--Gilroy);
    font-size: var(--size-l);
    font-weight: var(--weight-lg);
    line-height: 28px;
    letter-spacing: 0.08em;
    text-align: left;
    color: var(--blue);
    transition: all 0.3s;
  }

  &__location {
    display: flex;
    margin-top: var(--span-xs);

    .location-icon {
      margin-right: 5px;
      svg {
        width: 16px;
        height: 16px;
      }
    }

    span {
      font-family: Gilroy-Regular, sans-serif;
      font-size: calc(var(--size-m) + 2px);
      line-height: 21px;
      letter-spacing: 0.08em;
      text-align: left;
      color: var(--gray);
      font-weight: var(--weight-xsm);
      transition: all 0.3s;
    }
  }

  &__description {
    margin-top: var(--span-s);
    font-family: Gilroy-Regular, sans-serif;
    font-size: var(--size-s);
    line-height: 23px;
    letter-spacing: 0.08em;
    text-align: left;
    font-weight: var(--weight-xsm);
    color: var(---gray);
    transition: all 0.3s;
  }

  &__action {
    margin-top: var(--span-s);
    display: flex;
    justify-content: flex-end;
  }

  &__view {
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-block-start: calc(var(--span-l) + 5px);
    padding-block-end: calc(var(--span-l) + 5px);
    background: var(--white);
  }

  &__info {
    padding: 0 var(--span-l);
    padding-bottom: var(--span-m);
    border-bottom: 0.8px solid var(--btn-red);
  }

  &__heading {
    font-family: var(--Gilroy);
    font-size: var(--size-l);
    line-height: 28px;
    letter-spacing: 0.12em;
    text-align: left;
    color: var(--blue);
    margin-bottom: var(--span-s);
  }

  &__full-details {
    padding: 0 var(--span-l);
  }

  &__paragraph {
    margin-top: var(--span-m);
    font-family: Gilroy-Regular, sans-serif;
    font-size: var(--size-s);
    line-height: 23px;
    letter-spacing: 0.12em;
    text-align: left;
    color: var(--gray);
    font-weight: var(--weight-sm);
  }

  &__qualifications {
    margin-top: var(--span-m);
    padding-left: var(--span-s);
  }

  &__qualification {
    font-family: var(--Gilroy);
    font-size: var(--size-s);
    line-height: 23px;
    letter-spacing: 0.12em;
    text-align: left;
    color: var(--gray);
    font-weight: var(--weight-sm);

    &:not(:last-child) {
      margin-bottom: var(--span-xs);
    }
  }

  &__heading-tertiary {
    margin-top: var(--span-m);
    font-family: var(--Gilroy);
    font-size: var(--size-s);
    line-height: 23px;
    letter-spacing: 0.12em;
    text-align: left;
    color: var(--gray);
    font-weight: var(--weight-xlg);
  }

  &__requirements {
    margin-top: var(--span-m);
    padding-left: var(--span-s);
  }

  &__requirement {
    font-family: var(--Gilroy);
    font-size: var(--size-s);
    line-height: 23px;
    letter-spacing: 0.12em;
    text-align: left;
    color: var(--gray);
    font-weight: var(--weight-sm);

    &:not(:last-child) {
      margin-bottom: var(--span-xs);
    }
  }
}
